* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Cabin", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 24px 16px 24px;
  background-color: aqua;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__listmenu-ul {
  display: flex;

  gap: 16px;
  list-style: none;
}
.section__banner,
.section__main,
.section_exhibit {
  display: flex;
  position: relative;

  padding: 32px 24px 32px 24px;
  gap: 24px;
  background-color: #d8d8d8;
}
.section__main,
.section_exhibit {
  background-color: #fff;
}
.section__banner-img-lef {
  width: 60%;
}
.section__banner-img-left > img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.section__banner-content-right {
  position: relative;
  width: 40%;
  padding: 24px;
}
.banner-content-right {
  position: absolute;
  top: 20%;
  left: 10%;
}
.banner-content-right > h1 {
  width: 100%;
  font-size: 500%;
  line-height: 100%;
  color: #515151;
}
.banner-content-right > h3 {
  width: 100%;
  font-size: 300%;
  margin-top: 32px;
  color: #515151;
}
.banner-content-right > button {
  width: 90%;
  font-size: 150%;
  font-style: normal;
  padding: 8px;
  margin-top: 44px;
  background-color: #4a4a4a;
  color: #fff;
  border: none;
}

.section__main-content {
  display: flex;
  flex-direction: column;
}
.section__main-img-left {
  width: 60%;
}
.section__main-img-left > img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-content-left {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 24px;
}
.main-content-left > h2 {
  font-size: 400%;
  color: #4a4a4a;
}
.main-content-left > p {
  font-size: 150%;
  font-weight: 10%;
  color: #4a4a4a;
}
.section__main-content-right {
  width: 40%;
}
.main-content-img {
  position: relative;
  display: flex;
  width: 100%;

  padding: 0px 16px 16px 16px;
  margin-bottom: 16px;
}

.main-content-img-content {
  position: absolute;
  width: 50%;
  top: 25%;
  left: 45%;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main-content-img-content > a {
  text-decoration: none;
  font-size: 150%;
  color: #5093e2;
}
.main-content-img-content > p {
  text-decoration: none;
  font-size: 150%;
  color: #515151;
}
.main-content-img-content > h1 {
  font-size: 200%;
  color: #515151;
}

/* Section Start learning */
.section__learning {
  text-align: center;
  padding: 32px 72px 32px 72px;
  background-color: #eaebec;
}
.section__learning > h1 {
  font-size: 300%;
  color: #4a4a4a;
}
.section__learning-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 32px;
  gap: 32px;
}
.section__learning-content > img {
  width: fit-content;
  height: auto;
}
.learning-content-main {
  background-color: #fff;
}
.learning-content {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 8px;
  padding: 16px 16px 24px 16px;
}
.learning-content > h1 {
  font-size: 250%;
  color: #4a4a4a;
}
.learning-content > p {
  font-size: 130%;
  color: #4a4a4a;
  font-style: normal;
}

/* section Thesis exhibit*/
.section__main-img-left > iframe {
  width: 60%;
}
