* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 24px 16px 24px;
  background-color: #fff;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__listmenu-ul {
  display: flex;

  gap: 16px;
  list-style: none;
  font-size: 20px;
}
.header__mobile-ul {
  display: none;
  list-style: none;
}
.header__nav > h3 {
  font-size: 32px;
}
span {
  color: #acacac;
}
/* section banner */
.section__banner,
.section__main {
  display: flex;
  text-align: left;
  position: relative;

  padding: 32px 24px 32px 24px;
  gap: 24px;
  background-color: #d8d8d8;
}

.section__main,
.section_exhibit {
  background-color: #fff;
}
.section__banner-img-left {
  width: 60%;
}
.section__banner-img-left > img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.section__banner-content-right {
  position: relative;
  width: 40%;
  padding: 24px;
}
.banner-content-right {
  position: absolute;
  top: 20%;
  left: 10%;
}
.banner-content-right > h1 {
  width: 100%;
  font-size: 500%;
  line-height: 100%;
  color: #515151;
}
.banner-content-right > h3 {
  width: 100%;
  font-size: 300%;
  margin-top: 32px;
  color: #515151;
  font-weight: 300;
}
.banner-content-right > button {
  width: 90%;
  font-size: 150%;

  font-style: normal;
  padding: 8px;
  margin-top: 44px;
  background-color: #4a4a4a;
  color: #fff;
  border: none;
}

/* section main */
.section__main-img-left {
  width: 60%;
}
.section__main-img-left > i {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-content-left,
.exhibit-content-left {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 24px;
}
.main-content-left > h2 {
  font-size: 400%;
  color: #4a4a4a;
}
.main-content-left > p {
  font-size: 150%;
  font-weight: 300;
  color: #4a4a4a;
}
.section__main-content-right,
.section__exhibit-content-right {
  width: 40%;
}
.main-content-img,
.exhibit-content-img {
  position: relative;
  display: flex;
  width: 100%;

  padding: 0px 16px 16px 16px;
  margin-bottom: 16px;
}

.main-content-img-content,
.exhibit-content-img-content {
  position: absolute;
  width: 50%;
  top: 25%;
  left: 45%;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main-content-img-content > a {
  text-decoration: none;
  font-size: 150%;
  color: #5093e2;
}
.main-content-img-content > p {
  text-decoration: none;
  font-size: 150%;
  font-weight: 300;
  color: #515151;
}
.main-content-img-content > h1 {
  font-size: 200%;
  color: #515151;
}
.section__main-img-left-hidden {
  display: none;
}

/* Section Start learning */
.section__learning {
  text-align: center;
  padding: 32px 72px 32px 72px;
  background-color: #eaebec;
}
.section__learning > h1 {
  font-size: 300%;
  color: #4a4a4a;
}
.section__learning-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 32px;
  gap: 32px;
}
.section__learning-content > img {
  width: 100%;
  height: auto;
}
.learning-content-main {
  flex-wrap: wrap;
  width: 532px;

  background-color: #fff;
}
.learning-content {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 8px;
  padding: 16px 16px 24px 16px;
}
.learning-content > h1 {
  font-size: 250%;
  color: #4a4a4a;
}
.learning-content > p {
  font-size: 130%;
  color: #4a4a4a;
  font-weight: 300;
  font-style: normal;
}
.section__learning-content-hidden {
  margin-top: 32px;
  gap: 32px;
}

.course-hidden {
  display: none;
  /* text-align: left;
  font-size: 2rem;
  color: #4a4a4a;
  width: 100%;
  padding: 16px 16px 24px 16px;
  background-color: #d8d8d8; */
}

/* section Thesis exhibit*/
.section_exhibit {
  display: flex;
  flex-direction: column;
  padding: 32px 24px 32px 24px;
  gap: 24px;
}
.section_exhibit > h1 {
  font-size: 400%;
  color: #4a4a4a;
  text-align: center;
}
.section_exhibit-content {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}
.section__exhibit-vdo-left {
  width: 60%;
}
.section__exhibit-vdo-left > video {
  width: 100%;
  height: auto;
}
.exhibit-content-left > h2 {
  font-size: 400%;
  color: #4a4a4a;
}
.exhibit-content-left > p {
  font-size: 150%;
  font-weight: 300;
  color: #4a4a4a;
}
.exhibit-content-img-content > a {
  text-decoration: none;
  font-size: 150%;
  color: #5093e2;
}
.exhibit-content-img-content > p {
  text-decoration: none;
  font-size: 150%;
  color: #515151;
}
.exhibit-content-img-content > h1 {
  font-size: 200%;
  color: #515151;
}

/* <!-- scetion footer --> */
.footer {
  padding: 16px 24px 40px 24px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  color: #818181;
}
.footer__content-hidden {
  display: none;
  justify-content: center;
  color: #818181;
}
hr {
  border: 0.5px solid #e8eaea;
}

.main-content-img:hover,
.exhibit-content-img:hover,
.learning-content-main:hover {
  background-color: #d8d8d8;
  cursor: pointer;
}
@media only screen and (min-width: 375px) and (max-width: 768px) {
  .header__h3 {
    display: none;
  }
  .header__listmenu-ul {
    display: none;
  }
  .header__mobile-ul {
    display: flex;
    justify-content: space-between;

    gap: 32px;
    list-style: none;
    font-size: 20px;
  }

  /* banner */
  .section__banner {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #d8d8d8;
  }

  .section__main {
    background-color: #fff;
  }
  .section__banner-img-left {
    width: 100%;
  }
  .section__banner-content-right {
    width: 100vw;
    font-size: 40px;
  }
  .banner-content-right > h1 {
    font-size: 4rem;
    color: #515151;
  }
  .banner-content-right > h3 {
    font-size: 40px;
    margin-top: 2rem;
    color: #515151;
    font-weight: 300;
  }
  .banner-content-right > button {
    width: 80%;
    font-size: 1.5rem;

    font-style: normal;
    padding: 8px;
    background-color: #4a4a4a;
    color: #fff;
    border: none;
  }
  /* Section main */
  .section__main {
    display: flex;
    flex-direction: column;

    padding: 32px 24px 32px 24px;
    gap: 24px;
    background-color: #fff;
  }
  .section__main-img-left {
    display: none;
    visibility: hidden;
  }
  .main-content-left > h2 {
    display: none;
  }
  .main-content-left > p {
    display: none;
  }
  .section__main-content-right {
    width: auto;
  }
  .main-content-img {
    width: 100%;

    padding: 0px 16px 16px 16px;
    margin-bottom: 16px;
  }

  .main-content-img-content {
    position: absolute;
    width: 50%;
    top: 25%;
    left: 45%;

    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .main-content-img-content > a {
    text-decoration: none;
    font-size: 150%;
    color: #5093e2;
  }
  .main-content-img-content > p {
    text-decoration: none;
    font-size: 150%;
    font-weight: 300;
    color: #515151;
  }
  .main-content-img-content > h1 {
    font-size: 200%;
    color: #515151;
  }

  /* learning */
  .section__learning {
    text-align: center;
    padding: 32px 72px 32px 72px;
    background-color: #eaebec;
  }
  .section__learning > h1 {
    font-size: 300%;
    color: #4a4a4a;
  }
  .section__learning-content {
    display: none;
  }
  .section__learning-content-hidden {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 8px;
  }
  .course-hidden {
    display: flex;
    text-align: left;
    font-size: 2rem;
    color: #4a4a4a;
    width: 100%;
    padding: 16px 16px 24px 16px;
    background-color: #d8d8d8;
  }
  .learning-content-main {
    flex-wrap: wrap;
    width: 532px;

    background-color: #fff;
  }

  /* exihibit */
  .section_exhibit {
    display: flex;
    flex-direction: column;
    padding: 16px 0px 24px 0px;
    gap: 24px;
  }
  .section_exhibit > h1 {
    font-size: 400%;
    color: #4a4a4a;
    text-align: center;
  }
  .section_exhibit-content {
    display: flex;
    gap: 16px;
    margin-top: 16px;
  }
  .section__exhibit-vdo-left {
    width: 100%;
  }
  .section__exhibit-vdo-left > video {
    width: 100%;
    height: auto;
  }
  .exhibit-content-left > h2 {
    display: none;
  }
  .exhibit-content-left > p {
    display: none;
  }
  .exhibit-content-img-content > a {
    display: none;
  }
  .exhibit-content-img-content > p {
    text-decoration: none;
    font-size: 150%;
  }
  .section__exhibit-content-right {
    display: none;
  }

  /* footer */
  .footer {
    padding: 16px 0px 16px 0px;
  }
  .footer__content {
    display: none;
    justify-content: space-between;
    color: #818181;
  }
  .footer__content-hidden {
    display: flex;
    justify-content: center;
    color: #818181;
  }

  hr {
    border: 0.5px solid #e8eaea;
  }
}
