* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Cabin", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 24px 16px 24px;
  background-color: aqua;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__listmenu-ul {
  display: flex;

  gap: 16px;
  list-style: none;
}
.section__banner,
.section__main {
  display: flex;
  position: relative;

  padding: 32px 24px 32px 24px;
  gap: 24px;
  background-color: #d8d8d8;
}

/* .section__banner-img-left,
.section__main-img-left {
  width: 60%;
} */
.section__banner-img-left,
.section__main-img-left > img {
  width: fit-content;
  background-size: cover;
  background-repeat: no-repeat;
}
.section__banner-content-right {
  position: relative;
  width: 40%;
  padding: 24px;
}
.banner-content-right {
  position: absolute;
  top: 20%;
  left: 10%;
}
.banner-content-right > h1 {
  width: 70%;
  font-size: 350%;
  color: #515151;
}
.banner-content-right > h3 {
  width: 65%;
  font-size: 200%;
  margin-top: 32px;
  color: #515151;
}
.banner-content-right > button {
  width: 70%;
  font-size: 150%;
  font-style: normal;
  padding: 8px;
  margin-top: 32px;
  background-color: #4a4a4a;
  color: #fff;
  border: none;
}

.section__main-content {
  display: flex;
  flex-direction: column;
}
.section__main-content-right {
  width: 40%;
  position: relative;
}
.main-content-right {
  position: absolute;
  top: 20%;
  left: 10%;

  display: flex;
}
.main-content-img > img {
  width: 35%;
  height: auto;
}
.main-content-img {
  display: flex;
  padding: 16px;
  gap: 24px;

  position: relative;
}
.main-content-img-content {
  width: 100%;

  position: absolute;
  top: 30%;
  left: 40%;
  line-height: 2rem;
}
.main-content-img-content > p {
  margin-top: 8px;
}
.main-content-img-content > a {
  color: #5093e2;
  text-decoration: none !important;
}
